.inputFormLogin{
    height: 40px;
    font-size: 1rem;
    padding-left: 20px;
    display: block;
    margin-bottom: 3rem;
    border-radius: 5px;
    border:1px solid #d8d8d8;
    border:none; 
     display:block; 
     width: 100%; 
     box-sizing: border-box
  }
  
  .input:focus{
    outline: none;
  }

  #buttonBlack{
      width: 100%;
      margin-top: 50px;
  }